.row{
	max-width: 1140px;
	margin: 0 auto;
}
.images{
	list-style-type: none;
	width: 100%;
}

.images li{
	display: block;
	float: left;
	width: 25%;
}

.singlePhoto{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #000;  /* changing background to black so when the image opacity is turned down, it will show the black and look darker not lighter*/
}

.singlePhoto img{
	opacity: .7;
	width: 100%;
	height: auto;
	transform: scale(2.05);   /* this makes the images overflow their container, to fix add overflow:hidden; to parrent */
	transition: transform .7s, opacity .4s;

}

.singlePhoto img:hover{
	transform: scale(1.3);
	opacity: 1;
}
