*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

header{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: right;
  z-index: 99;
}

.hero-card{
  background-color: red;
  margin-top: 35vh;
}

.title{
  padding: .5em;
}

nav ul{
  position: absolute;
  right: 0;
}

nav li{
  display: inline-block;
  padding: 1em;
  text-align: right;
}

nav li a{
  font-size: 1.2em;
  font-weight: 300;
}

section{
  width: 100%;
  overflow: hidden;
}

section.one{
  background: #6ab04c;
  text-align: center;
  height: 100vh;
}

.one > p{
  font-size: 2.5em;
}
.primary{
  padding-top: 35vh;
}

section.two{
  background: #eb4d4b;
  height: 75vh;
}

section.four{
  background: #f9ca24;
}

/*grid styls for cards*/
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20vh;
  grid-column-gap: 3em;
  margin: 0 2em;
}

.card-info{
  background-color: rgba(0,0,0,.2);
  border-radius: 5px;
  padding:1.5em;
}

.card-info h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: .5em;
}

/* detail image styles */
.circle{
  border-radius: 50%;
  height:100px;
}

/* mobile styles 500px or less do this stuff*/
@media only screen and (max-width: 800px) {
  .card-container{
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 1em;
  }

  .card-info{
    height: 25vh;
    margin: 3.25vh 0;
  }
}
